<!--The content below is only a placeholder and can be replaced.-->
<div class='container m-4 border border-warning'>
  <div class='row'>
    <h1 class='display-4'>Restful Tasks API</h1>
  </div>
  <div class='row border border-primary'>
    <button type='submit' class='col-2 offset-5 mt-3 mb-3 btn btn-secondary' (click)="onShowAll()">GET ALL TASKS</button>
    <div *ngFor='let task of tasks' class='col-10 offset-1'>
      <p class='col-3 offset-1'>{{task.title}}</p>
      <span class='bg-info rounded-circle col-2 offset-4' data-title={{task.title}} (click)="onShowOne($event)">Show</span>
      <p *ngIf="taskDict[task.title]" class='col-8 offset-2'>{{task.content}}</p>
  </div>
</div>